html{
    background-color: #ffc600;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

main{
    max-width: 400px;
    margin: 100px auto;
}

input{
    width: 100%;
    padding: 20px;
    margin: 0;
    text-align: center;
    
}

ul{
    padding: 0;
}

li{
    background-color: white;
    list-style: none;
    margin: 2px 0;
    margin-top: 0;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
}

li:nth-child(even){
    transform: perspective(100px) rotateX(3deg);
    background: linear-gradient(to top, #ffffff 0%, #e0e0e0 100%);
}

li:nth-child(odd){
    transform: perspective(100px) rotateX(-3deg);
    background: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
}

span#word{
    background-color: yellow;
    padding: 0;
    margin: 0;
    width: fit-content;
}

span#pop{
    text-align: right;
    direction: rtl;
    padding-left: 50px;
}